@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
$mobile: 375px;
$desktop: 1440px;
// color
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);
// typography
$font-weight-primary: 400;
$font-weight-light: 300;
$font-family-primary: "Alata", sans-serif;
$font-family-secondary: "Josefin Sans", sans-serif;
